.edit-pending-panel {
  display: flex;
  background-color: rgba(104, 162, 185, 0.25);
  width: 800px;
  margin-top: 20px;
}

.edit-pending-panel-column-one {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 45%;
}

.edit-pending-panel-column-two {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 55%;
}

.edit-pending-panel-column-one label {
  margin-top: 0px;
}

.profile-moderate-logo {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

.edit-pending-panel-column-one-row-two {
  margin-top: 15px;
}

@media screen and (max-width: 1060px) {
    .profile-center {
        align-items:unset;
    }
  .edit-pending-panel {
    width: 100%;
  }
}

@media screen and (max-width: 676px) {
  .edit-pending-panel {
    flex-direction: column;
  }
  .edit-pending-panel-column-one {
    width: 100%;
  }
  .edit-pending-panel-column-two {
    width: 100%;
  }
  .profile-moderate-logo {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
  }
}
