.profile-logo{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border:1px solid black;
    border-radius: 4px;
    background-color:white;
}

.profile-form-row-one-column-two{
    display: flex;
}

.profile-panel{
    display: flex;
    flex-direction: column;
    background-color: rgba(104, 162, 185,0.25);
    padding:0 15px;
}

.profile-panel-row-one{
    display: flex;
    flex-direction: column;
}

.profile-panel-row-two{
    display: flex;
    width: 100%;
    column-gap: 50px;
    justify-content: space-between;
}

.profile-panel-row-three{
    display: flex;
    width: 100%;
}

.profile-panel-row-three button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.profile-panel-row-two-column-one{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    width:50%;
}

.profile-panel-row-two-column-two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    margin-bottom: 45px;
    width: 100%;
    flex-wrap: wrap;
}

.profile-panel-row-two-column-two input{
    width:100%;
    pointer-events: none;
}

.profile-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-header{
    display: flex;
    align-items: flex-start;
}

.profile-label{
    font-size:17px;
    margin: 10px 0px;
}

.profile-info{
    font-size:20px;
}

.profile-form {
    margin: 0 auto;
}

@media screen and (min-width: 920px) {
    .profile-panel{
        width:700px;
    }    
}

@media screen and (max-width:920px) {
    .profile-center {
        align-items:unset;
    }

    .file-upload {
        width: 100%;
        display: flex;
        align-items: center
    }
}

@media screen and (max-width: 676px) {
    .profile-logo{
        object-fit: contain;
        width: 100%;
        height: 300px;
        border:1px solid black;
        border-radius: 4px;
        background-color:white;
    }
    .profile-panel {
        justify-content: center;
        align-items: center;
    }

    .profile-panel-row-one {
        width: 100%;
    }

    .profile-panel-row-two {
        display: block;
        width: 100%;
    }

    .profile-panel-row-two-column-one {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .wider {
        width: 100%!important;
    }

    .wider-hundert {
        font-size: 14px;
    }

    
}