.nav-logo {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.nav-logo-icon{
  object-fit: contain;
  width:55px;
  height:55px;
  margin-left: 20px;
  margin-top: 10px;
  filter:invert(91%) sepia(27%) saturate(409%) hue-rotate(121deg) brightness(89%) contrast(90%);
}

.nav-logo-icon:hover{
  filter:invert(16%) sepia(82%) saturate(5894%) hue-rotate(344deg) brightness(89%) contrast(105%);
}

.nav{
  background-color: #001628;
  padding:10px;
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.nav-items{
  display: flex;
  align-items:center;
}

.nav-item{
  margin-right: 20px;
}

.nav-item-anchor{
  text-decoration:none;
  color:#99D9D9;
  font-weight:500;
  font-size: 18px;
}

.nav-item-anchor:hover{
  color:#E9072B;
}

.nav-burger{
  display: none;
}

.nav-burger-icon{
  color:#99D9D9;
  cursor: pointer;
  margin-right: 20px;
}

.nav-burger-icon:hover{
  color:#E9072B;
}

@media screen and (max-width:920px){
  .nav-mob {
    display: flex;
    align-items: center;
  }

  .nav-logo-icon {
    margin-left: 0;
  }

  .nav-burger{
    display: flex;
  }

}