.admin-header-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.admin-header-container button{
    outline:none;
    border: none;
    padding:7px 24px;
    border-radius: 4px;
    cursor: pointer;
    background-color:#001628;
    color:#99D9D9;
    font-size:15px;
    font-weight: 300;
    letter-spacing:1px;
}

.add-member-button:hover{
    color:#E9072B;
}

.team-header{
    margin-bottom:15px;
}