.company-logo{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border:1px solid black;
    border-radius: 4px;
    background-color:white;
}

.company-form-row-one-column-two{
    display: flex;
}

.company-panel{
    display: flex;
    flex-direction: column;
    background-color: rgba(104, 162, 185,0.25);
    padding:0 15px;
    width: 800px;
}

.company-panel-row-one{
    display: flex;
    flex-direction: column;
}

.company-panel-row-two{
    display: flex;
    flex-wrap: wrap;
}

.company-panel-row-three{
    display: flex;
    width: 100%;
}

.company-panel-row-three button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.company-panel-row-two-column-one{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    width:50%;
}

.company-panel-row-two-column-two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 45px;
    flex-wrap: wrap;
    width:50%;
}

.company-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-header{
    display: flex;
    width: 800px;
}

.company-label{
    font-size:20px;
    margin: 10px 0px;
}

.company-info{
    font-size:25px;
}