.answer-card-moderated{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
    color:#001628;
    border-radius: 4px;
    margin-top: 15px;
    background-color:transparent;
}

.answer-card-row-one-moderated{
    padding-bottom:10px;
}

.answer-card-row-two-moderated{
    padding-bottom:10px;
    display: flex;
    flex-grow: 1;
}

.answer-card-row-three-moderated{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    background-color:#001628;
    color:#99D9D9;
    padding:10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-button-moderated{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 10px;
    width: 40px;
    height:40px;
    cursor: pointer;
    color:#99D9D9;
    outline:none;
    border:none;
    background-color:#001628;
    border-radius: 4px;
    font-size: 19px;
}
.answer-number-moderated{
    display:flex;
    margin-top: 10px;
    font-size: 19px;
    align-items:center;
    justify-content:center;
    color:#99D9D9;
    height:40px;
}

.answer-logo-moderated{
    object-fit: cover;
    width: 100%;
    height: 280px;
}

.answer-card-row-two-sub-layer-moderated{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
}

.answer-card-row-two-sub-layer-variation-moderated{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:space-between;
}

.answer-card-row-two-submit-area-moderated{
    display: flex;
    gap:10px;
    width: 100%;
}

.answer-card-row-two-submit-area-variation{
    display: flex;
    align-items:flex-end;
}

.answer-title-moderated{
    font-size:23px;
}

@media screen and (max-width: 676px) {
  .edit-pending-panel {
    flex-direction: column;
  }
}
