.card-panel{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(4,1fr);
    max-width:2300px;
}

@media screen and (max-width:920px){
    .user-panel{
        width:100%;
    }    
    .card-panel-centre{
        width:640px;
    }
    .card-panel{
        justify-content: center;
    }
}

@media screen and (max-width: 1700px) {
    .card-panel{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width:1200px){
    .card-panel{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:768px){
    .card-panel{
        grid-template-columns: repeat(1,1fr);
    }
}