.user-panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:15px;
    height:1px;
    gap:15px;
}

.card-panel{
    display: flex;
    width:100%;
}

.card-panel-centre{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
}

@media screen and (max-width:920px){
    .user-panel{
        width:100%;
    }    
    .card-panel-centre{
        width:640px;
    }
    .card-panel{
        justify-content: center;
    }
}