@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Readex Pro', sans-serif;
}

a{
  text-decoration: none;
}

.wrapper{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

label{
  font-weight:500;
  margin-top: 15px;
  color:#001628;
  display: flex;
  align-items: center;
}

.role-label{
  margin-top: 0;
}

label > span{
  margin-left: 5px;
  font-size:10px;
  color:#E9072B;
  text-transform: capitalize;
}

input{
  font-weight:300;
  font-size: 14px;
  margin-top: 5px;
  height:45px;
  padding:5px;
  outline:1px solid rgba(0,0,0,0);
  border:none;
  color:#001628;
  border-radius: 2px;
}

.error-input{
  outline:1px solid #E9072B;
  border-radius: 2px;
}

input::placeholder{
  color:#001628;
  opacity:0.7;
}

.file-upload-button{
  width: 120px;
}

.wider{
  width:300px!important;
}

.wider-2x{
  width:500px!important;
}

.wider-fifty{
  width:50%!important;
}

.wider-hundert{
  width:100%!important;
}

.submit-button-small{
  cursor: pointer;
  background-color:#001628;
  outline:none;
  border:none;
  color:#99D9D9;
  border-radius: 4px;
  font-size: 17px;
}

.submit-button-small:hover{
  color:#E9072B;
}

.delete-button{
  background-color:#E9072B;
  outline:none;
  border:none;
  border-radius: 4px;
  font-size: 14px;
  color:white;
}

.submit-button,
.file-upload-button{
  margin-top: 10px;
  height:40px;
  cursor: pointer;
  background-color:#001628;
  outline:none;
  border:none;
  color:#99D9D9;
  border-radius: 4px;
  font-size: 17px;
}

.submit-button:hover,
.file-upload-button:hover{
  color:#E9072B;
}

.form-type{
  width: calc(100% - 40px);
  max-width: 600px;
  font-size: 30px;
  margin-top:40px;
  margin-bottom:10px;
  display: flex;
  align-items: center;
}

.form-type > span {
  margin-left: 5px;
  color:#E9072B;
  font-size: 16px;
}

.nav-option{
  text-decoration:none;
  color:#99D9D9;
  font-weight:500;
  font-size: 18px;
  cursor: pointer;
}

.nav-option:hover{
  color:#E9072B;
}

.side-nav-option{
  text-decoration:none;
  color:#99D9D9;
  font-weight:500;
  font-size: 32px;
  cursor: pointer;
}

.side-nav-option:hover{
  color:#E9072B;
}

.small-text-anchor{
  margin-top: 10px;
  font-weight:300;
  font-size: 14px;
  text-decoration: none;
  color:#001628;
}

.small-text-anchor:hover{
  color:#E9072B;
}

.small-text-right{
  display: flex;
  align-items: center;
  justify-content:flex-end;
}

.panel{
  display: flex;
  width: 100%;
  overflow-y: hidden;
  min-height: calc(100vh - 89px);
}

.user-panel{
  display: flex;
  width: calc(100% - 250px);
  overflow-y: scroll;
  min-height: calc(100vh - 89px);
}

.control{
  width: 100%;
  padding:15px;
  max-height: calc(100vh - 89px);
  overflow-y: scroll;
  margin: 0 5px;
}

.control-center{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 139px);
  overflow-y: none;
}

.control-center-guest{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 139px);
  overflow-y: none;
}

::-webkit-scrollbar {
  display:none;
}

.margin-top-15-px{
  margin-top: 15px;
}