.admin-nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    background-color:#001628;
    width:300px;
}

.admin-option,
.admin-label-option{
    font-weight:500;
    font-size: 17px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    word-break: keep-all;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #99D9D9;
    padding:15px;
}

.admin-label-option-label{
    font-weight:500;
    font-size: 17px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    word-break: keep-all;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #99D9D9;
    padding:15px;
}

.admin-link:hover > *{
    color:#E9072B;
}

.admin-link,
.admin-label{
    text-decoration:none;
    color:#99D9D9;
    width: 100%;
}

.admin-label{
    border-top: 1px solid #99D9D9;
}

.admin-label-option{
    cursor: auto;
    font-weight:700;
    font-size: 20px;
    justify-content: center;
}

@media screen and (max-width:920px){
    .admin-nav{
        display:none;
    }
}